ul#projectList
	- each work in works
		- var selected = (project && project.name == work.name) ? "selected" : false;
		li(class: selected)
			h3
				a(href='/work/' + work.name)= work.title
			div= work.type