html
{
}
body
{
	background: #eeeeee;
	margin: 0;
	padding: 0;
}
#typekit-badge-tbz0rxp
{
	right: auto !important;
	left: 0 !important;
}

ul.tk-legitima
{
	position: fixed;
	top: 40px;
	right: 0;
	font-size: 40px;
	text-align: right;
	padding-right: 20px;
	line-height: 1.5em;
	z-index: 10;
	list-style: none;
}
#nav li
{
}
#nav a
{
	background: #222222;
	color: #eeeeee;
	text-decoration: none;
	display: block;
	margin: 16px 0;
	padding: 4px 10px;
	line-height: 1em;
}
#nav a:hover
{
	text-decoration: none;
	padding: 4px 15px;
	margin: 16px -5px;
}
#footer
{
	position: fixed;
	bottom: -2px;
}
#contact
{
	margin-bottom: 40px;
}

#contact ul
{
	list-style: none;
}

#contact li
{
	display: inline;
	margin-right: 30px;
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
	background: #222222;
	color: #eeeeee;
}

#contact a
{
	text-decoration: none;
	color: #2B7BFF;
}

#contact span
{
	
}
#canvas
{
	margin-left: -600px;
}
#name
{
	color: #999999;
	text-align: right;
}

#name.tk-legitima
{
	font-size: 30px;
	bottom: 26px;
	right: 0px;
	position: fixed;
	text-shadow: 0 2px 1px #FFFFFF, 0 -1px 0 #666666;
}
#canvas
{
	position: fixed;
	bottom: -4px;
	height: 40px;
	background: #eeeeee;
}
#container
{
	overflow: hidden;
	position: absolute;
	width: 100%;
	padding-bottom: 50px;
}
#panel
{
	/*width: 960px;*/
	padding: 40px 200px 0 40px;
	margin: 0 auto;
}

#container p
{
	line-height: 1.2em;
	padding: 0 0 1.5em 0;
}

ul#showcase
{
	list-style: none;
	margin-left: 0;
}

ul#showcase li
{
	padding: 0px;
	margin: 10px;
	background: url('/images/layout/showcase_shadow.png') bottom right no-repeat;
	position: relative;
	width: 300px;
	padding-bottom: 10px;
	float: left;

}
ul#showcase li h3 a
{
	color: inherit;
	text-decoration: none;
}
ul#showcase li h3 a:hover
{
	text-decoration: underline;
}
ul#showcase li h3
{
	
	background: #222222;
	width: 280px;
	
	font-size: 23px;
	line-height: 23px;
	padding: 10px;
	position: absolute;
	top: 0;
	
	color: #eeeeee;
}

ul#showcase li div
{
	background: #bcbcbc;
	padding: 10px;
}
ul#showcase li img
{
	width: 300px;
	margin: 0 auto;
	padding-top: 40px;
}
.clear
{
	clear: left;
}

#projectList
{
	list-style: none;
	float: left;
	text-align: right;
	width: 300px;
	margin-left: 0;
	margin-top: 10px;
}
#projectList li
{
	background: #aaaaaa;
	clear: right;
	float: right;
	margin-bottom: 16px;
	text-align: right;
	width: 300px;
	cursor: pointer;
}

#projectList h3
{
	background: #222222;
	display: inline;
	padding: 10px 0 2px;
	width: auto;
}
#projectList h3 a
{
	text-decoration: none;
	padding: 10px 10px 2px 30px;
	color: #eeeeee;
}
#projectList div
{
	background: #666666;
	color: #eeeeee;
	width: 270px;
	padding: 4px 4px 0 0;
	float: right;
	font-size: 11px;
	font-style: italic;
}
#projectList li.selected
{
	margin-right: -30px;
	cursor: auto;
	background: #cccccc;
}
#projectList li.selected h3
{
	background: #2b7bff;
	margin: 0 -5px;
	padding: 10px 15px 2px 35px;
}
#projectList li.selected div
{
	
}

#projectList li.highlighted
{
	background: #ff0000;
	cursor: pointer;
	margin-right: -20px;
}
#showcase
{
	padding: 0px;
	margin: 0 10px 10px 10px;
	background: url('/images/layout/showcase_shadow.png') bottom right no-repeat;
	width: 300px;
	padding-bottom: 10px;
	float: right;
	position: relative;
}
#showcase h2 a
{
	color: inherit;
	text-decoration: none;
}
#showcase h2 a:hover
{
	text-decoration: underline;
}
#showcase h2
{
	background: #2B7BFF;
	width: 280px;

	font-size: 23px;
	line-height: 15px;
	padding: 10px;
	margin-bottom: 4px;
	color: #eeeeee;
}
#showcase h2 span
{
	float: right;
	font-size: 10px;
	padding-top: 2px;
	color: #2B7BFF;
}
#showcase div
{
	background: #bcbcbc;
	padding: 10px;
}
#showcase img
{
	width: 300px;
	margin: 0 auto;
}
#content
{
	margin: 0 auto;
	max-width: 850px;
}